.overview-section {
    display: flex;
    justify-content: space-evenly;
    padding: 10px;
    background-color: #171819; /* Light grey background */
    border-radius: 8px;
    margin: 20px 0; /* Add some margin around the overview section */
  }
  
  .overview-item {
    text-align: center;
    align-items: center;
    padding: 5px;
  }
  @media only screen and (max-width: 768px) {
    .overview-item {
      padding: 5px;
    }
  }
  
  .overview-title {
    display: block;
    font-weight: bold;
    margin-bottom: 8px;
    color: #A2A3A3;
    font-size: medium;
  }
  @media only screen and (max-width: 768px) {
    .overview-title {
      font-size: small;
    }
  }
  
  .overview-value {
    font-size: 20px;
    color: #088cff; 
  }
  
  .overview-label {
    /* background-color: #171819; */
    padding-top: 10px;
    display: flex;
    font-size: medium;
    font-weight: bold;
    color: #A2A3A3;
    align-content: center;
    justify-content: center;
    text-align: center;
  }