:root {
  --dolBlue-color: #088cff;
  --headerGrey-color: #171819;
  --bgGrey-color: #0c0c0d;
  --textGrey-color: #a2a3a3;
}

/* Lv2 - Dashboard Styles - AdminDash */
.dashboard-container {
  padding: 0px;
}

.dashboard {
  display: flex;
  flex-direction: column;
  align-content: center;
  background-color: var(--bgGrey-color);
  padding: 20px;
}

.dashboard-header {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--bgGrey-color);
  width: 100%;
  max-height: 10%;
  color: white;
}

.dashboard-tabs {
  display: flex;
  justify-content: space-evenly;
  background: var(--bgGrey-color);
  text-align: center;
  font-size: calc(10px + 2vmin);
  padding: 0.5rem 0;
}

.tab {
  color: white;
  padding: 0.5rem 1rem;
  text-decoration: none;
  border-bottom: 3px solid transparent;
}

.tab:hover {
  background: #222;
}

.active {
  border-bottom: 10px solid var(--dolBlue-color);
}

.dashboard-content {
  /* display: flex; */
  /* padding: 10px; */
  /* flex-direction: column; */
  max-width: 100%;
  background-color: var(--bgGrey-color);
  color: var(--textGrey-color);
}
@media only screen and (max-width: 768px) {
  .dashboard-content {
    justify-items: center;
    font-size: smaller;
  }
}

.dashboard-footer {
  padding: 10%;
}

/* Lv3 - Content page Styles */
.overview-section {
  display: flex;
  justify-content: space-evenly;
  /* width: 100%; */
  padding: 10px;
  background-color: var(--headerGrey-color);
  border-radius: 8px;
  /* margin: 10px 0; */
}

.overview-div {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  /* width: 100%; */
  padding: 10px;
  background-color: var(--headerGrey-color);
  border-radius: 8px;
  /* margin: 10px 0; */
}

.overview-item {
  text-align: center;
  align-items: center;
  padding: 5px;
}
@media only screen and (max-width: 768px) {
  .overview-item {
    padding: 5px;
  }
}

.overview-title {
  display: block;
  font-weight: bold;
  margin-bottom: 8px;
  color: var(--textGrey-color);
  font-size: medium;
}
@media only screen and (max-width: 768px) {
  .overview-title {
    font-size: small;
  }
}

.overview-value {
  font-size: 20px;
  color: var(--dolBlue-color);
}

.overview-label {
  /* background-color: #171819; */
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  font-size: medium;
  font-weight: bold;
  color: var(--textGrey-color);
  align-content: center;
  justify-content: center;
  text-align: center;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  border-radius: 5px;
  padding: 10px;
  background-color: var(--headerGrey-color);
  /* gap: 10px;  */
}

.grid-item {
  /* background-color: #f2f2f2; */
  display: grid;
  /* border: 1px solid #ddd; */
  padding: 5px;
  text-align: center;
}

.grid-title {
  display: block;
  font-weight: bold;
  margin-bottom: 8px;
  /* color: var(--textGrey-color); */
  font-size: calc(1px + 2vmin);
}
@media only screen and (max-width: 768px) {
  .grid-title {
    font-size: calc(2px + 2vmin);
  }
}

.grid-value {
  font-size: calc(4px + 2vmin);
  color: var(--dolBlue-color);
  text-align: center;
}
@media only screen and (max-width: 768px) {
  .grid-value {
    font-size: calc(10px + 2vmin);
  }
}

/* Optional: style specific items */
/* .grid-item:nth-child(3) {
  background-color: #ccc;
}

.grid-item:nth-child(5) {
  font-weight: bold;
} */
