.dashboard {
    display: flex;
    flex-direction: column;
    background-color: #0C0C0D;
    height: 100vh;
    padding: 10px;
  }
  
  .dashboard-header {
    background-color: #171819;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    color: white;
  }
  
  .dashboard-tabs {
    display: flex;
    justify-content: space-evenly;
    background: #0C0C0D;
    text-align: center;
    font-size: calc(10px + 2vmin);
    padding: 0.5rem 0;
  }
  
  .tab {
    color: white;
    padding: 0.5rem 1rem;
    text-decoration: none;
    border-bottom: 3px solid transparent; /* No border by default */
  }
  
  .tab:hover {
    background: #222; /* Slight shade on hover */
  }
  
  .active {
    border-bottom: 10px solid #088cff; /* Active tab has a distinct border */
  }
  
  .dashboard-content {
    flex-grow: 1;
    background-color: #0C0C0D;
    color: #A2A3A3;
    /* Your styles for content */
  }
  
  .dashboard-footer {
    /* Your styles for footer */
  }
  